<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Categorías de Ejercicios para Músculos Lisos</title>
</head>
<body>
    <h1>Categorías de Ejercicios para Músculos Lisos</h1>

    <ul>
        {% for categoria in categoria_mostrar %}
            <li>
                <p><strong>Nombre:</strong> {{ categoria.nombre }}</p>
                <p><strong>Descripción:</strong> {{ categoria.descripcion }}</p>
                <p><strong>Grupo Muscular Principal:</strong> {{ categoria.grupo_muscular_principal }}</p>
                <h3>Ejercicios:</h3>
                <ul>
                    {% for ejercicio in categoria.ejercicios.all %}
                        <li>
                            <p><strong>Nombre:</strong> {{ ejercicio.nombre }}</p>
                            <p><strong>Descripción:</strong> {{ ejercicio.descripcion }}</p>
                            <p><strong>Tipo de Ejercicio:</strong> {{ ejercicio.tipo_ejercicio }}</p>
                            <!-- Otros campos relacionados con Ejercicio -->
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <footer>
        <p>Pie de página &copy; 2023 Gabriela Pinzón</p>
    </footer>
</body>
</html>
