{% extends 'fitness/principal.html' %}
{% load static%}

{% block cabecera%}
<br>
  <h2>RESULTADO DE BÚSQUEDA:</h2>
{% endblock %}
{% block contenido %}
    
        {% for ejercicio in ejercicio_mostrar %}
        <br>
        <p><strong>Ejercicio:</strong>{{ejercicio.nombre}}</p>
            <p><strong>Descripción:</strong>{{ejercicio.descripcion}}</p>
            <p><strong>Tipo de Ejercicio:</strong>{{ejercicio.tipo_ejercicio}}</p>
            <br>
            <strong>Usuarios</strong>
                <ul>
                    {% for usuario in ejercicio.usuarios.all%}
                        <li><p><strong>Nombre:</strong>{{usuario.nombre}}</li>
                        <li><p><strong>Email:</strong>{{usuario.email}}</li>
                            {% endfor%}
        {% endfor %}
{% endblock %}