<html>
    <body>
        <h1>APLICACION FITNESS</h1>
        <h2>Listados de enlaces</h2>
        <div>
            <h3>
                Crea una URL que muestre una lista de todos 
            los ejercicios de la aplicación 
            con sus datos correspondientes.
            </h3>
            <a href=" {% url 'lista_ejercicios' %}">URL 1</a>
        </div>
        <div>
            <h3>
                Vista que muestra la información de un usuario especifico, incluyendo su nombre, correo y enlace a su perfil de usuario.
            </h3>
            <a href=" {% url 'informacion_usuario'  %}">URL 2</a>
        </div>
        
    </body>

</html>