{% extends 'fitness/principal.html' %}
{% load static%}

{% block cabecera%}
{% endblock %}

{% block contenido%}



    <div class="contenedor row align-items-center">
        <div class="main col-md-8">
            <h3>¿Qué es?</h3>

            <p class="d-none d-md-block">8 Columnas</p>
            <p class="d-block d-md-none">12 Columnas</p>
                <p>Bajo la acepción fitness se esconden dos definiciones muy vinculadas. En primer lugar, entendemos por fitness el estado de salud física y bienestar que se consigue al llevar una vida sana apoyada en el ejercicio continuado en el tiempo y en una dieta saludable. En segundo lugar, también se define como fitness al conjunto de ejercicios gimnásticos que se repiten varias veces por semana para conseguir una buena forma física. Normalmente estos ejercicios se realizan en espacios deportivos específicos, como los gimnasios.</p>
                
                <p>Los objetivos de esta práctica deportiva son mejorar la resistencia aeróbica, tener mayor flexibilidad, conseguir fuerza muscular, conseguir una fuerza muscular localizada y lograr el equilibro corporal (ha de respetar unos porcentajes de lo que se considera sano en músculos, huesos y grasas).</p>
                
                <p>Durante años el fitness ha estado en auge en Estados Unidos, pero su trascendencia ya se ha extendido a Europa y algunos países de América del Sur, como Colombia.</p>
                
                <p>Los deportistas que acuden a esta disciplina deportiva suelen realizar series de carreras, sentadillas, flexiones y saltos combinados con ejercicios de disciplinas como el breakdance.</p>
                
                <h2>Beneficios</h2>
                <p>Si el deportista mantiene un programa de ejercicios equilibrado, las ventajas de esta disciplina son:</p>
                
                <p><strong>Mejora de la resistencia aeróbica.</strong> Las series de ejercicios se realizan varias veces por semana por lo que consigue aumentar el desarrollo del sistema cardiorrespiratorio y, por tanto, la resistencia.</p>
                 
                <p><strong>Fortalece la condición física.</strong> Tanto interna como externa, lo que implica también un aumento de la autoestima de la persona que lo practica.</p>
                 
                <p><strong>Reduce el riesgo de desarrollar enfermedades:</strong> La obesidad o enfermedades cardiovasculares, como tener el colesterol alto, hipertensión, etc.</p>
                 
                <p><strong>Evita el estrés.</strong> La práctica de este tipo de actividades deportivas de alto impacto ayuda a que el deportista esté relajado y tenga menos riesgo de sufrir estrés o depresión.</p>
                 

            </p>
        </div>
        <div class="aside col">
            <img src="{% static 'imagenes/imagen.jpg'%}" class="img-fluid"  ></img>
        </div>
    </div>
{% endblock%}











