<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Ejercicios</title>
</head>
<body>
  <h1>Listade Ejercicios</h1>
    {% for ejercicio in ejercicios_mostrar%}
    <h2>Ejercicio:</h2>
        <p><strong>Nombre:</strong>{{ejercicio.nombre}}</p>
        <p><strong>Descripción:</strong>{{ejercicio.descripcion}}</p>
        <p><strong>Tipo de Ejercicio:</strong>{{ejercicio.tipo_ejercicio}}</p>
        <br>
        <strong>Usuarios</strong>
            <ul>
                {% for usuario in ejercicio.usuarios.all%}
                    <li><p><strong>Nombre:</strong>{{usuario.nombre}}</li>
                    <li><p><strong>Email:</strong>{{usuario.email}}</li>
        {%endfor%}
            </ul>
    {% endfor%}

    <footer>
        <p>Pie de página &copy; 2023 Tu Nombre</p>
    </footer>
</body>
</html>
