{% extends 'fitness/principal.html' %}
{% load static%}

{% block cabecera%}
<br>
  <h2>EJERCICIOS</h2>
{% endblock %}

{% block contenido%}
    <img src="{% static 'imagenes/list.jpg'%}" width="450" height="300"></img>
    
    {% for ejercicio in ejercicios_mostrar%}
    <br>
    <p><strong>Ejercicio:</strong>{{ejercicio.nombre}}</p>
        <p><strong>Descripción:</strong>{{ejercicio.descripcion}}</p>
        <p><strong>Tipo de Ejercicio:</strong>{{ejercicio.tipo_ejercicio}}</p>
        <br>
        <strong>Usuarios</strong>
            <ul>
                {% for usuario in ejercicio.usuarios.all%}
                    <li><p><strong>Nombre:</strong>{{usuario.nombre}}</li>
                    <li><p><strong>Email:</strong>{{usuario.email}}</li>
        {%endfor%}
            </ul>
            <hr>
    {% endfor%}
{% endblock %}

