{% load static%}
<div class="row menu row-cols-5">
    <div class="col"><a href="{% url 'lista_ejercicios' %}">URL 1</a></div>
    <div class="col"><a href="{% url 'informacion_usuario'  %}">URL 2</a></div>
    <div class="col"><a href="{% url 'entrenamientos'  %}">URL 3</a></div>
    <div class="col"><a href="{% url 'usuario_H'  %}">URL 4</a></div>
    <div class="col"><a href="{% url 'comentarios_entrenamiento' entrenamiento_id=1 %}">URL 5</a></div>
    <div class="col"><a href="{% url 'comentarios_fecha' 2020 2%}">URL 6</a></div>
    <div class="col"><a href="{% url 'categoria_lisos'%}">URL 7</a></div>
    <div class="col"><a href="{% url 'lista_entrenamientos'%}">URL 8</a></div>
    <div class="col"><a href="{% url 'grupo_muscular' 'Cárdiacos' %}">URL 9</a></div>
    <div class="col"><a href=" {% url 'usuarios_sin_comentarios' %}">URL 10</a></div>
    {#<div class="col"><a href="{% url 'historial_ejercicios_usuario' 1  %}">URL 11</a></div> #}
    {#<div class="col"><a href="">URL 12</a></div>#}
</div>

