{% load static%}
<div class="row menu row-cols-5">
    <div class="col"><a href="{% url 'lista_ejercicios' %}">URL 1</a></div>
    <div class="col"><a href="{% url 'informacion_usuario'  %}">URL 2</a></div>
    <div class="col"><a href="{% url 'entrenamientos'  %}">URL 3</a></div>
    <div class="col"><a href="{% url 'usuario_H'  %}">URL 4</a></div>
    <div class="col"><a href="{% url 'comentarios_entrenamiento' entrenamiento_id=1 %}">URL 5</a></div>
    <div class="col"><a href="{% url 'comentarios_fecha' 2020 2%}">URL 6</a></div>
    <div class="col"><a href="{% url 'categoria_lisos'%}">URL 7</a></div>
    <div class="col"><a href="{% url 'lista_entrenamientos'%}">URL 8</a></div>
    <div class="col"><a href="{% url 'grupo_muscular' 'Cárdiacos' %}">URL 9</a></div>
    <div class="col"><a href=" {% url 'usuarios_sin_comentarios' %}">URL 10</a></div>
    {#<div class="col"><a href="{% url 'historial_ejercicios_usuario' 1  %}">URL 11</a></div> #}
    {#<div class="col"><a href="">URL 12</a></div>#}
</div>
<br>
<div class ="row">
 <!-- <div class="col"><a href=" {% url 'create' %}"><button type="button" class="btn btn-success">CREA EJERCICIO</button></a></div>
   <div class="col">
       <form action="" class="d-flex mt-3" role="search" method="GET">
           <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
           <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
         </form>
   </div>#}-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success px-4">
        <a class="navbar-brand" href="#">
          <img src="{% static  'imagenes/logo.png' %}" 
              alt="" width="100" height="50" 
              class="d-inline-block align-text-middle">
        </a>
        <button class="navbar-toggler" type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#accionesBiblioteca" 
          aria-controls="navbarAccionesBiblioteca" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="accionesBiblioteca">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" 
                  id="accionesLibrosLink" 
                  role="button" 
                  data-bs-toggle="dropdown" 
                  aria-expanded="false">
                Ejercicios
              </a>
              <ul class="dropdown-menu" aria-labelledby="accionesLibrosLink">
                <li><a class="dropdown-item" href="{% url 'lista_ejercicios' %}">Ver ejercicios</a></li>
                <li><a class="dropdown-item" href="{% url 'create' %}">Crear Ejercicio</a></li>
                <li><a class="dropdown-item" href="{% url 'ejercicio_busqueda_avanzada' %}">Busqueda Avanzada del Ejercicio</a></li>
              </ul>
            </li>
          </ul>

          {# El formulario de búsqueda utiliza el método GET, por lo tanto el texto de búsqueda que introducimos, aprecerá en la url.#}
          <form action="{% url 'ejercicio_buscar' %}" class="d-flex mt-3" role="search" method="GET">
            <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
          </form>
    
        </div>
    </nav>
</div>


