{% load static %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'ejercicio_mostrar' ejercicio.id  %}"> {{ ejercicio.nombre|capfirst }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">Nombre:{{ ejercicio.nombre }}</h6>
        <p class="card-text">Descripción:{{ ejercicio.descripcion }}</p>
        <p class="card-text">Tipo de ejercicio:{{ ejercicio.tipo_ejercicio }}</p>
        <div>
            <p class="card-text" >Usuarios:</p>
            <ul  style="list-style-type: disc">
                {% for usuario in ejercicio.usuarios.all %}
                    <li class="card-text" >{{ usuario.nombre }}</li>
                {% endfor%}
            </ul>
        </div>
        {% load bootstrap_icons %}
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary">
                <a href="{% url 'ejercicio_editar' ejercicio.id %}">
                    <span>{% bs_icon 'pencil' %}</span> 
                </a>
            </button>
            
            <form action="{% url 'ejercicio_eliminar' ejercicio.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    <span>{% bs_icon 'trash' %}</span> 
                </button>
            </form>
        </div>
    </div>
</div>